<li>
	{{name}}

	<button class="changeDevour" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}New burger{{else}}Devour!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete</button>
</li>